h1, h3, {
    font-family: Arial, sans-serif;
    font-weight: normal;
    text-decoration: underline;
}

h3{
	font-size: 24px;
}

p {
	font-family: "Courier New", monospace;
}

a {
	font-style: italic;
	text-decoration: none;
}