body {

    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
	font-weight: 700;
	font-size: 90px;

}

h2 {
	font-weight: 300;
	font-size: 40px;

}

p {
	font-weight: 300;
}

li {
	font-weight: 300;
	font-size: 20px;
	margin: 20px 90px;

}

ul {
	text-align: center;
}

.hero {
	background-image: url("../images/coolidgecorner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    background-position: top; 
	height: 800px;
	width: 1200px;
	padding: 500px 60px;

}

.hero p {
	font-size: 70px;
}

.spacing {
	background-color: #000;
	height: 50px;
	width: 1200px;
}

.slogan {
	background-color: #851C07;
	height: 90px;
	width: 1200px;
}

.slogan p {
	font-size: 60px;
}

.aboutus {
	background-color: #fff;
	height:400px;
	width: 1200px;
	padding: 60px 60px;
}

.aboutus p {
	font-size: 30px;
	color: #000;
}

.menutitle {
	background-color: #851C07;
	height: 90px;
	width: 1200px;
}

.menutitle p {
	font-size: 60px;
}

.menu {
	background-color: #fff;
	height: 800px;
	width: 1200px;
	padding: 500px 60px;
	font-size: 30px;
}

.smallplates p {
	font-size: 20px;
}