body {

    background-color: #C0E8A9;
    color: #fff;
    text-align: center;
    font-family: Helvetica;
}

.hero {
	background-image: url("../images/coolidgecorner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center; 
	height: 800px;
	width: 1200px;
}