body {
	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: #C0E8A9;
    color: #fff;
    text-align: center;
    font-family: Helvetica;
}

h1, p, a {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    font-size: 22px;
    font-family: Helvetica;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

p {
  	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  	font-size: 12px;
    font-family: Helvetica;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

a {
	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    font-size: 12px;
    font-family: Helvetica;
    font-style: italic;
    color: #fff;
    text-align: right;
    text-transform: uppercase;

}

ul {
    list-style-position: inside;
    text-align: center;
    font-size: 12px;
    font-family: Helvetica;
    color: #fff;
    text-transform: uppercase;
    padding: 2cm 4cm 3cm 4cm;
}