body {
    background-color: #C0E8A9;
    align-content: right;

}
h1, {
    font-color: #fff;
    font-size: 22px;
    font-family: Helvetica;
    font-style: bold;
    text-align: right;
    text-transform: uppercase;
}

p {
  	font-size: 12px;
    font-family: Helvetica;
    font-style: none;
    text-align: right;
    text-transform: uppercase;
}